/* previously named style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
