.half-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;
}
.left-side {
    background-image: url('assets/src/img/tenant.jpg');
}
.right-side {
    background-image: url('assets/src/img/browse.jpg');
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.half-page a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px 20px;
    transition: background-color 0.2s, color 0.2s;
    z-index: 1;
}
.half-page a:hover {
    background-color: white;
    color: black;
}
.right-side a:hover {
    color: black;
}
