#upLease-btn {
    margin-top: 20px;
}

.form-signup {
    flex-grow: 0.9;
    padding: 1rem;
    border-radius: 8px;
    /* Add border radius for rounded corners */
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="text"],
.form-signup input[type="email"],
.form-signup input[type="password"],
.form-signup input[type="date"],
.form-signup input[type="tel"] {

    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup .form-floating {
    margin-bottom: 20px;
}

.form-signup .name-fields {
    display: flex;
    gap: 20px;
}

.form-signup .name-fields .form-floating {
    flex: 1;
}

.field-icon:hover {
    cursor: pointer;
}

.field-icon i {
    font-size: 1rem;
    padding: 1rem;
}
