* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.form-floating {
  margin-bottom: 10px;
}

.field-icon:hover {
  cursor: pointer;
}

.field-icon i {
  font-size: 1rem;
  padding: 1rem;
}

.log-in {
  width: 500px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}