* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;     
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  
  .form-signup {
    flex-grow: 0.9;
    padding: 1rem;
    border-radius: 8px;  /* Add border radius for rounded corners */
  }
  
  .form-signup .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signup input[type="text"],
  .form-signup input[type="email"],
  .form-signup input[type="password"],
  .form-signup input[type="date"],
  .form-signup input[type="tel"] {
    
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signup .form-floating {
    margin-bottom: 10px;
  }
  
  .form-signup .name-fields {
    display: flex;
    gap: 10px;
  }
  
  .form-signup .name-fields .form-floating {
    flex: 1;
  }
  
  .field-icon:hover {
    cursor: pointer ;
  }
  
  .field-icon i {
  font-size: 1rem;
  padding: 1rem;
  }
  
  .warning {
    color: red;
    display: none;
  }